{% extends 'base.html' %}

{% block content %}
<h1>username: </h1>
<p>{{request.user}}</p>

<button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Status</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for task in list_task %}
        <tr>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.date}}</td>
            <td>{{task.finished}}</td>
            <td><button><a href="{% url 'todolist:update' task.pk %}">Update</a></button></td>
            <td><button><a href="{% url 'todolist:delete' task.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
    </table>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

 {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}  


{% endblock content %}